<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="https://kunstblik.files.wordpress.com/2017/05/ajax-logo-oud.jpg" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "New cocktail", cocktails_new_path, class: "navbar-wagon-item navbar-wagon-link"  %>
    <%= link_to "New dose", doses_new_path, class: "navbar-wagon-item navbar-wagon-link"  %>
  </div>

  <!-- Dropdown appearing on mobile only -->
</div>
